<div class="row">
  <div class="col-md-12">
    <h1>
      Tasks Board
      <span class="pull-right">
        <%= link_to "New Project", new_project_path, class: 'btn btn-primary' %>
      </span>
    </h1>
  </div>
</div>

<% @projects.each_slice(3) do |project_group| %>
  <div class="row">
    <% project_group.each do |project| %>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading"><%= project.title %></div>
          <div class="panel-body"><%= project.description %></div>
          <div class="panel-footer text-right">
            <%= link_to "Details", project_path(project), class: 'btn btn-sm btn-info' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
